// Modified from https://codepen.io/lsirivong/pen/ekBxI

$empty-star: '\2606';
$full-star: '\2605';

$grey: #888888;
$gold: #eea722;

.star-group {
    /* remove inline-block whitespace */
    font-size: 0;
    * {
        font-size: 3rem;
    }


    /* flip the order so we can use the + and ~ combiners */
    unicode-bidi: bidi-override;
    direction: rtl;

    &:hover > input {
        &.highlight + label:before {
            color: $grey;
            content: $full-star;
            text-shadow: 0 0 1px #333;
            transition-duration: .2s;
            transition-timing-function: ease;
        }
        /* highlight stars under pointer */
        & + label:hover ~ label:before,
        & + label:hover:before {
            content: $full-star;
            color: $gold;
            text-shadow: 0 0 1px #333;
            transition-duration: .2s;
            transition-timing-function: ease;
        }
    }

    & > input {
        display: none;
        & + label {
            /* only enough room for the star */
            display: inline-block;
            overflow: hidden;
            width: 1em;
            white-space: nowrap;
            cursor: pointer;
            &:before {
                content: $empty-star;
                color: $grey;
                transition-duration: .2s;
                transition-timing-function: ease;
            }
        }
        /* highlight the stars based on all user's votes */
        &.fill {
            & + label:before {
                content: $full-star;
                color: $grey;
                text-shadow: 0 0 1px #333;
            }
        }
        /* highlight the stars based on this user's vote */
        &.highlight {
            & + label:before {
                color: $gold;
                content: $full-star;
                text-shadow: 0 0 1px #333;
            }
        }
    }

    /* the hidden clearer */
    & > input.star-clear {
        & + label {
            width: .5em;
            margin-left: -.5em;
            &:before {
                content: '  ' !important;
                width: .5em !important;
            }
        }
    }
}
