<nav class="footer" style="background-color: #e3f2fd;">
    <div class="container p-2 pb-4">
        <div class="navbar-nav text-center">
            <div class="row">
                <span class="col navbar-brand active text-left" href="#">Created by Layton Burchell</span>
            </div>
            <div class="row">
                <a class="text-muted col" href="https://github.com/LaytonGB" target="_blank">GitHub</a>
                <a class="text-muted col" href="https://gitlab.com/LaytonGB" target="_blank">GitLab</a>
                <a class="text-muted col" href="{% url 'welcome:about' %}">About</a>
            </div>
        </div>
    </div>
</nav>
