<nav class="navbar navbar-expand navbar-dark bg-primary mb-4">
    <div class="container">
        <a href="{% url 'welcome:home' %}" class="navbar-brand">Meal Master</a>
        <div class="navbar-nav">
            <a href="{% url 'search:search_page' %}" class="nav-link active">Search<span class="sr-only">(current)</span></a>
            {% if user.is_authenticated %}
                <a href="{% url 'accounts:account_page' %}" class="nav-link active">Profile</a>
                <a href="{% url 'accounts:logout' %}" class="nav-link">Logout</a>
            {% else %}
                <a href="{% url 'accounts:login' %}" class="nav-link active">Login or Register</a>
            {% endif %}
        </div>
    </div>
</nav>