{% extends "base.html" %} {% load static %} {% block content %}
{% comment %} above extends the base format, loads static files, and names the content block {% endcomment %}

{% comment %} define the loading overlay {% endcomment %}
<div
    id="loading-overlay"
    class="d-none align-items-center justify-content-center"
    style="
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 2;
    "
>
    <div class="spinner-border text-primary" style="width: 5rem; height: 5rem">
        <span class="sr-only">Loading...</span>
    </div>
</div>

{% comment %} main body {% endcomment %}
<div class="container">
    {% comment %} this id is the scope for Vue {% endcomment %}
    <div id="search_results" class="col py-5">
        <div class="searchbar">
            <h1>Search</h1>
            <form action="" method="get">
                <div class="row form-group">
                    {% comment %} this is the form found in `nea/search/forms.py` {% endcomment %}
                    <div class="col">{{ form.search_term }}</div>
                    {% comment %} onClick runs the script that un-hides the loading overlay {% endcomment %}
                    <div class="col-auto mr-0">
                        <button
                            type="submit"
                            onClick="showLoad()"
                            class="form-control btn btn-primary"
                        >
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
        {% comment %} using Vue, this div only shows if the user has searched {% endcomment %}
        <div v-if="has_searched" class="row mb-2">
            <div class="col">
                <button class="btn btn-light form-control" v-on:click="filter_expanded = !filter_expanded">
                    <div class="row">
                        <div class="col text-left">Filters</div>
                        <div class="col text-right">[[ filter_arrow ]]</div>
                    </div>
                </button>
                {% comment %} this is an experimental section, that would eventually allow users to filter out ingredients {% endcomment %}
                <div v-if="filter_expanded" class="row">
                    <div class="col">
                        <ul>
                            <li v-for="(ingredient, i) in ingredients_list" v-bind:style="i % 2 === 1 && ingredient.split(/ +/).length < 4 ? '' : 'display: none;'">
                                [[ ingredient ]]
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li v-for="(ingredient, i) in ingredients_list" v-bind:style="i % 2 === 0 && ingredient.split(/ +/).length < 4 ? '' : 'display: none;'">
                                [[ ingredient ]]
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                {% comment %} v-model here refers to the "search_vue" constant's `.data.results_sort` property. {% endcomment %}
                {% comment %} the two values become syncronized and if either is changed the other is changed too. {% endcomment %}
                <select class="form-control" v-model="results_sort">
                    <option value="relevance">Relevance</option>
                    <option value="rating">Rating (highest first)</option>
                    <option value="-rating">Rating (lowest first)</option>
                    <option value="rating_count">Number of Ratings (most first)</option>
                    <option value="-rating_count">Number of Ratings (least first)</option>
                </select>
            </div>
        </div>
        <div class="">
            {% comment %} this is a django if. it runs faster and more reliably than a Vue if, but cannot be changed without refreshing the page. {% endcomment %}
            {% if results %}
            {% comment %} a vue for loop. the value "results_sorted" refers to the "search_vue" constant's `.computed.results_sorted` property. {% endcomment %}
            {% comment %} the property uses caching and a function to quickly return a sorted list. {% endcomment %}
            <div v-for="meal in results_sorted" class="py-1">
                <a
                    :href="`/meal/${meal.id}/`"
                    class="w-100 text-left btn btn-info"
                >
                    <div class="row">
                        <h3 class="col align-self-center mt-0">
                            [[ meal.name ]]
                        </h3>
                        {% comment %} vue if only shows this if the meal has recieved a rating {% endcomment %}
                        <h2
                            v-if="meal.rating_count > 0"
                            class="rating-display px-3"
                        >
                            {% comment %} here the class styles are changed depending on the average rating {% endcomment %}
                            {% comment %} using this, ive styled the star ratings of meals {% endcomment %}
                            <span
                                v-for="star in 5"
                                :class="`text-${star <= meal.rating ? 'warning' : 'muted'}`"
                                >★</span
                            >
                        </h2>
                    </div>
                    <p class="mb-0">[[ meal.description ]]</p>
                </a>
            </div>
            {% elif has_searched %}
            <div class="container border border-danger rounded text-danger col">
                <h1>No Meals Found</h1>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">
    // vars from django
    const results_vue = {{ results_vue|safe }};
    const has_searched = '{{ has_searched }}' === 'True';

    // on load
    window.addEventListener('load', () => {
        // Auto-focus and select the search bar
        const search_bar = document.getElementById('search_field');
        search_bar.focus();
        search_bar.select();

        // vue constant
        const search_vue = new Vue({
            delimiters: ['[[', ']]'],
            el: '#search_results',

            // values here are default and can be changed
            data: {
                has_searched: has_searched,
                results_sort: 'relevance',
                results_vue: results_vue,
                filter_expanded: false,
            },
            computed: {
                results_sorted: function () {
                    const compIn = this.results_sort
                    let descending = true;
                    let compVal = compIn;
                    if (compVal[0] === '-') {
                        descending = !descending;
                        compVal = compVal.slice(1);
                    }
                    if (compVal == 'relevance') return this.results_vue;
                    const validResults = this.results_vue.filter(x => x[compVal] !== undefined && x[compVal] !== -1);
                    return [...new Set(
                        [...myFunctions.sort(validResults, compVal, descending), ...this.results_vue]
                    )];
                },
                ingredients_list: function () {
                    const out = new Set();
                    this.results_vue.forEach(r => {
                        r.ingredients.forEach(i => {
                            out.add(i);
                        });
                    });
                    return out;
                },
                filter_arrow: function () {
                    const expanded = this.filter_expanded;
                    if (expanded) return '⯆';
                    else return '⯇';
                },
            },
            methods: {},
            watch: {},
            mounted: function () {},
        });
    });

    // Show the loading screen
    function showLoad() {
        const overlay = document.getElementById('loading-overlay');
        overlay.classList.toggle('d-none');
        overlay.classList.toggle('d-flex');
    }
</script>
{% endblock content %}
