{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Edit Comment</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="container">
                    {{ form.content }}
                </div>
            </div>
            <div class="row">
                <div class="container justify-content-end text-right my-1">
                    <input type="submit" value="Update Comment" class="form-control btn btn-primary col-auto">
                </div>
            </div>
        </div>
    </form>
</div>

<script type='text/javascript'>
    const oldComment = '{% filter escapejs %}{{ comment.content }}{% endfilter %}';
    const commentInput = document.getElementById('comment_input');
    commentInput.value = oldComment;
</script>
{% endblock content %}
