{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center login-half">
                <h1>Login</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="container text-center col-10">
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                        </div>
                    </div>
                    <br>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.level_tag == 'error' %}
                                <div class="container border border-danger text-danger text-center rounded">
                                    <p class="p-2 m-auto">{{ message }}</p>
                                </div>
                                <br>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <div class="container text-right col-10">
                        <input type="submit" value="Login" name="login" class="btn btn-primary">
                    </div>
                </form>
            </div>
            <div class="d-lg-none w-100 border-top my-4"></div>
            <div class="col text-center justify-content-end">
                <h1>Register</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="container text-center col-10">
                        <div class="form-group">
                            {{form.username}}
                        </div>
                        <div class="form-group">
                            {{form.email}}
                        </div>
                        <div class="form-group">
                            {{form.password1}}
                        </div>
                        <div class="form-group">
                            {{form.password2}}
                        </div>
                    </div>
                    {% if form.errors %}
                        <div class="container text-danger border-danger border rounded text-left">
                            {% for field in form %}
                                {% if field.errors %}
                                    <p>
                                        <strong>{{ field.label|capfirst }}</strong>
                                        <ul>
                                            {% for error in field.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <br>
                    <div class="container text-right col-10">
                        <input type="submit" value="Submit" name="register" class="btn btn-primary">
                    </div>
                </form>
            </div>
            {% if messages %}
                {% for message in messages %}
                    {% if message.level_tag == 'success' %}
                        <div class="container border border-success text-success text-center rounded p">
                            <p class="p-2 m-auto">{{ message }}</p>
                        </div>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock content %}