{% extends "base.html" %}
{% load static %}
{% load compress %}
{% load tz %}

{% block head %}
    {% compress css %}
        <link type="text/x-scss" rel="stylesheet" href="{% static 'meal_planner/planner.scss' %}" media="screen">
        <link type="text/x-scss" rel="stylesheet" href="{% static 'meal_pages/rating.scss' %}" media="screen">
    {% endcompress %}
{% endblock head %}

{% block content %}
<script src="{% static 'moment.js' %}"></script>
<div id="whole_page" class="container-fluid">
    <div class="row">
        <div class="container col">
            <h1 class="container row">Meal Planner {{ date|date:'l j F' }}</h1>
            <div class="col-auto">
                <form action="" method="get" class="row form-group" id="calendarform">
                    <div class="col"></div>
                    <input name="submitted_date" type="date" id="calendarpicker" class="form-control col-auto float-right">
                </form>
            </div>
            <div id="meal_plan_area" class="row container-fluid">
                <div class="row m-3 overflow-auto w-100 text-nowrap flex-nowrap" style="background: lightgrey;">
                    <div v-for="(day, i) in planner" class="container col-auto border rounded border-warning m-2">
                        <h3>[[dates[i].format('ddd Do MMM')]]</h3>
                        <div v-for="(plannermeal, j) in day" class="col bg-info rounded mb-2 text-white">
                            <div class="row">
                                <div class="col-auto text-left align-self-center btn btn-warning mx-1 p-1">[[ plannermeal.order ]]</div>
                                <div class="col text-center pl-1 m-0 pr-0">
                                    <a :href="`/meal/${plannermeal.meal_id}/`" class="text-white">[[plannermeal.name]]</a>
                                    <a :href="`/account/planner/remove/${last_date}${plannermeal.id}/`" class="btn btn-danger mb-1 mt-1 mr-1 pt-1 px-2">╳</a>
                                </div>
                            </div>
                            <form method="get" class="form-group meal_order_form">
                                <select name="change_meal_order" class="form-control meal_order_select">
                                    <option>Move meal to position...</option>
                                    <option v-for="pm in day" v-if="pm.order !== plannermeal.order" :value="`${pm.order} ${plannermeal.id}`">[[pm.order]]</option>
                                </select>
                            </form>
                        </div>
                        <form :action="`add/${i}/`" method="get" class="form-group custom_meal_form">
                            <input type="text" name="custom_meal_name" placeholder="Enter custom meal..." class="form-control">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <a class="row btn btn-primary float-right my-3" style="border-radius: 8px 0px 0px 8px; color:white;" id="search_toggle">Search</a> {% comment %} Collapsible comment section {% endcomment %}
            <div class="row bg-light border-top border-left border-bottom border-dark" id="search_menu" style="width:0; z-index:1; overflow:hidden; transition:1s; right:0; top:80px; white-space:nowrap; position:absolute; border-radius:8px 0px 0px 8px;">
                <h1 class="row px-3 w-100">Search</h1>
                <div class="row form-group px-3">
                    <div class="col">
                        <input type="text" class="form-control" name="search_term" id="search_bar" placeholder="Search...">
                    </div>
                    <div class="col-auto mr-0">
                        <button class="form-control btn btn-primary" id="search_button">Search</button>
                    </div>
                </div>
                <div class="row p-3" style="word-wrap:break-word;">
                    <div v-for="meal in results_sorted" class="w-100 px-3 pb-3">
                        <a class="w-100 text-left btn btn-info">
                            <div class="row">
                                <h4 class="col-auto align-self-center mt-0"> [[ meal.name ]] </h3>
                                <h3 v-if="meal.rating_count > 0" class="rating-display px-3">
                                    <span v-for="star in 5" :class="`text-${star <= meal.rating ? 'warning' : 'muted'}`">★</span>
                                </h2>
                            </div>
                            <p class="mb-0">[[ meal.description ]]</p>
                            <div class="container row pt-1 pb-0">
                                <form method="get" class="form-group dropdown_date_form">
                                    <select name="add_meal" class="form-control dropdown_date_select" onChange="submitForm(this)">
                                        <option value="">Add to...</option>
                                        <option v-for="l in 7" :value="`${dates[l-1].format('DD-MM-YYYY')} ${meal.id}`">[[dates[l-1].format('dddd Do MMM')]]</option>
                                    </select>
                                </form>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container row border border-warning rounded">
                <h3>Favourites</h3>
                <div class="container text-left">
                    <div v-for="f in faves" class="container border rounded border-info my-3">
                        <div class="row">
                            <h5 class="col align-self-center mt-0">
                                [[ f.name ]]
                            </h5>
                            <h2 v-if="f.rating_count > 0" class="rating-display px-3">
                                <span v-for="star in 5" :class="`text-${star <= f.rating ? 'warning' : 'muted'}`">★</span>
                            </h2>
                        </div>
                        <div class="container row pb-2">
                            <form method="get" class="form-group dropdown_date_form">
                                <select name="add_meal" class="form-control dropdown_date_select">
                                    <option value="">Add to...</option>
                                    <option v-for="l in 7" :value="`${dates[l-1].format('DD-MM-YYYY')} ${f.id}`">[[dates[l-1].format('dddd Do MMM')]]</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% comment %} jQuery {% endcomment %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script type="text/javascript">
const plannerVue = new Vue({
    delimiters: ['[[', ']]'],
    el: '#whole_page',
    data: {
        planner: {{ planner|safe }},
        dates: [{% for d in dates %}
            moment("{{ d|date:'Y, m, d' }}"),{% endfor %}
        ],
        faves: {{ favourites|safe }},
        last_date: '{{ last_date }}' ? '{{ last_date }}/' : '',
        search_results: [],
    },
    computed: {
        orders_max: function () {
            const trimmedPlanner = this.planner.filter(d => d[0] && d[0].id);
            return trimmedPlanner.map(d => d.map(m => m.order).reduce((m1, m2) => Math.max(m1, m2)));
        },
        results_sorted: function () {
            const compVal = 'rating';
            const descending = true;
            const validResults = this.search_results.filter(x => x[compVal] !== undefined && x[compVal] !== -1);
                return [...new Set(
                    [...myFunctions.sort(validResults, compVal, descending), ...this.search_results]
                )];
        },
    },
    methods: {
        updateSearchResults: function (search_term) {
            const self = this;
            const protocol = window.location.protocol;
            const port = window.location.port ? ':' + window.location.port : '';
            const hostname = window.location.hostname;
            const url = protocol + '//' + window.location.hostname + port + '/search/results/' + search_term;
            $.getJSON(url, function (json) {
                self.search_results = json;
            });
        },
    },
    mounted: function () {
        const self = this;

        // calendar code
        const cal = document.getElementById('calendarpicker');
        if (cal) {
            cal.addEventListener('change', function () {
                const form = document.getElementById('calendarform');
                if (form) form.submit();
                else {
                    alert('Form could not be submitted.\nPage will now reload.\nError code 1.');
                    location.reload();
                }
            });
        }

        // add meals to days code
        // change meal order code
        // add custom meal code
        const mealForms = [
            ...document.getElementsByClassName('dropdown_date_form'),
            ...document.getElementsByClassName('meal_order_form'),
            ...document.getElementsByClassName('custom_meal_form'),
        ];
        for (let f of mealForms) {
            f.firstChild.addEventListener('change', function () {
                if (this.value !== '') f.submit();
            })
        }

        // add search menu toggle code
        const searchMenuButton = document.getElementById('search_toggle');
        const searchMenu = document.getElementById('search_menu');
        searchMenuButton.addEventListener('click', function () {
            if (search_menu.style.width === '0px') search_menu.style.width = Math.round(document.documentElement.clientWidth * 0.9).toString() + 'px';
            else search_menu.style.width = '0px';
            console.log(search_menu.style.width)
        })

        // add search button code
        const searchButton = document.getElementById('search_button');
        const searchBar = document.getElementById('search_bar');
        searchBar.addEventListener('keydown', function(key) {
            if (key.keyCode === 13) self.updateSearchResults(this.value);
        })
        searchButton.addEventListener('click', function () {
            if (searchBar.value !== '') self.updateSearchResults(searchBar.value);
        })
    },
});

const submitForm = function (el) {
    const form = el.parentElement;
    if (el.value !== '') form.submit();
}
</script>
{% endblock content %}
