{% extends 'base.html' %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level_tag == 'success' %}
                <div class="container border border-success text-success text-center rounded">
                    <p class="p-2 m-auto text-capitalize">{{ message }}</p>
                </div>
                <br>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="container">
        <h1 class="mb-3">My Comments</h1>
        {% if comments %}
            {% for comment in comments reversed %}
                <div class="row">
                    <div class="container col border border-warning rounded my-3 px-4">
                        <div class="row border-bottom font-weight-bold justify-content-between">
                            <div>
                            {% if comment.c_name in 'mealcomment' %}
                                {% with comment.id|stringformat:'s' as comment_id %}
                                    <a href="{% url 'meal:meal_page' meal_id=comment.meal.id focus='comment_'|add:comment_id %}" class="text-info">
                                        {{ comment.meal.name }}
                                {% endwith %}
                            {% else %}
                                <a href="{% url 'meal:meal_page_subcomment' meal_id=comment.parent.section.meal.id step_id=comment.parent.id %}" class="text-info">
                                    {{ comment.parent.section.meal.name }}
                            {% endif %}</a>
                            </div>
                            <div>{{ comment.date }}</div>
                        </div>
                        <div class="row my-1">
                            {{ comment.content }}
                        </div>
                        <div class="row border-top text-muted justify-content-around">
                            <div><a href="{% url 'accounts:delete_comment' comment_type=comment.c_name comment_id=comment.pk %}" class="text-reset">Delete Comment</a></div>
                            <div><a href="{% url 'accounts:edit_comment' comment_type=comment.c_name comment_id=comment.pk %}" class="text-reset">Edit Comment</a></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>You haven't left any comments yet. Try leaving one!</p>
        {% endif %}
    </div>
{% endblock content %}
