{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Favourites</h1>
        <div id="favourites_list" class="col">
            <div class="searchbar">
                <div class="row form-group">
                    <div class="col">
                        <input v-model="search_term" class="form-control" placeholder="Search...">
                    </div>
                </div>
            </div>
            {% comment %} for each favourite {% endcomment %}
            <div v-for="(f, i) in filtered_favourites" class="py-1">
                {% comment %} the button links to the href here, where ${f.id} is the favourite id {% endcomment %}
                <a
                    :href="`/meal/${f.id}/`"
                    class="w-100 text-left btn btn-info"
                >
                    <div class="row">
                        <h3 class="col align-self-center mt-0">
                            [[ f.name ]]
                        </h3>
                        {% comment %} only show star rating if the meal has been rated {% endcomment %}
                        <h2
                            v-if="f.rating_count > 0"
                            class="rating-display px-3"
                        >
                            {% comment %} display star rating {% endcomment %}
                            <span
                                v-for="star in 5"
                                :class="`text-${star <= f.rating ? 'warning' : 'muted'}`"
                                >★</span
                            >
                        </h2>
                    </div>
                    <p class="mb-0">[[ f.description ]]</p>
                </a>
            </div>
            </div>
        </div>
    </div>

    {% comment %} Vue setup {% endcomment %}
    <script type="text/javascript">
        window.addEventListener('load', () => {
            favourites_vue = new Vue({
                delimiters: ['[[', ']]'],
                el: '#favourites_list',
                data: {
                    favourites: {{ favourites|safe }},
                    search_term: '',
                },
                computed: {
                    filtered_favourites: function () {
                        st = this.search_term;
                        if (st) {
                            return this.favourites.filter(x => {
                                return x.name.includes(st);
                            });
                        } else {
                            return this.favourites;
                        }
                    },
                },
                methods: {},
                watch: {},
                mounted: function () {},
            });
        });
    </script>
{% endblock content %}
