{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>My Account</h1>
        <a href="favourites/" class="btn btn-warning">Favourites</a>
        <a href="planner/" class="btn btn-danger">Meal Planner</a>
        <a href="comments/" class="btn btn-primary">Comments</a>
        <a href="#" class="btn btn-info">Preferences</a>
    </div>
{% endblock content %}
