{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block head %}
    {% compress css %}
        <link type="text/x-scss" rel="stylesheet" href="{% static 'meal_pages/rating.scss' %}" media="screen">
    {% endcompress %}
{% endblock head %}

{% block content %}
    {% csrf_token %}
    <div id="meal_page" class="container">
        <div class="row">
        {% comment %} If signed in create space for shop list {% endcomment %}
            {% if user.is_authenticated %}
            <div class="col-9 mb-3">
            {% else %}
            <div>
            {% endif %}
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level_tag == 'error' %}
                            <div class="container border border-danger text-danger text-center rounded">
                        {% else %}
                            <div class="container border border-success text-success text-center rounded">
                        {% endif %}
                                <p class="p-2 m-auto my-3">{{ message }}</p>
                            </div>
                    {% endfor %}
                {% endif %}
                <div class="row justify-content-around">
                    <div class="col-auto align-self-center">
                        <div class="row">
                            <form action="{% url 'accounts:add_favourite' meal_pk=meal.id goto=request.path %}" method="post">
                                <input type="hidden" name="csrfmiddlewaretoken" class="csrf_section">
                                <button type="submit" name="favourite" :class="is_fave ? 'form-control btn btn-success' : 'form-control btn'">FAVE</button>
                            </form>
                            <h2 class="col align-self-center">{{ meal_name }}</h2>
                        </div>
                    </div>
                    <form action="{% url 'meal:submit_meal_rating' meal_id=meal.id rating_section_name='overall' %}" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" class="csrf_section">
                        <fieldset>
                            <span class="star-group col">
                                <input type="text" display="none" value='{{ overall_rating }}'>
                                <input class="rating-star" type="submit" id="rating-5" name="rating-5" value="5"><label name="rating-5" for="rating-5"></label>
                                <input class="rating-star" type="submit" id="rating-4" name="rating-4" value="4"><label name="rating-4" for="rating-4"></label>
                                <input class="rating-star" type="submit" id="rating-3" name="rating-3" value="3"><label name="rating-3" for="rating-3"></label>
                                <input class="rating-star" type="submit" id="rating-2" name="rating-2" value="2"><label name="rating-2" for="rating-2"></label>
                                <input class="rating-star" type="submit" id="rating-1" name="rating-1" value="1"><label name="rating-1" for="rating-1"></label>
                                <input class="star-clear" type="submit" id="rating-0" name="rating-0" value="0"><label name="rating-0" for="rating-0"></label>
                            </span>
                        </fieldset>
                    </form>
                </div>
                {% if description %}
                    <div class="container border border-primary rounded mb-3">
                        <h4>Description</h4>
                        <p>{{ description }}</p>
                    </div>
                {% endif %}

                {% if ingredients %}
                    <div class="container border border-info rounded mb-3">
                        <h4>Ingredients</h4>
                        <ul>
                            <div v-for="(step, step_count) in ingredients_sorted">
                                <li>
                                    <button type="button" class="btn btn-info w-100 text-left my-1 collapsible">
                                        <div class="row">
                                            <div class="col">[[ step.content ]]</div>
                                            <div v-if="+step.comment_count > 0" class="col-auto text-warning align-self-center h-100 px-1 py-0 mr-2" style="background:rgb(100,100,100); border-radius:4pt;">[[ step.comment_count ]] Comments</div>
                                        </div>
                                    </button>
                                    <div :id="'step_' + step.id" class="content text-right" style="display: none;">
                                        <form v-if="user_is_authenticated" :action="`/meal/{{ meal.pk }}/subcomment/${step.id}/`" method="post">
                                            <input type="hidden" name="csrfmiddlewaretoken" class="csrf_section">
                                            <div class="form-group justify-content-end">
                                                <div class="row">
                                                    <div class="container mt-1">
                                                        {{ form.content }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="container justify-content-end text-right">
                                                        <button type="submit" value="" class="form-control btn btn-primary col-auto">
                                                            Comment
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        {% comment %} {
                                            'username': comment.user.username,
                                            'user_id': comment.user.pk,
                                            'content': comment.content,
                                            'date': comment.date.strftime("%d/%m/%Y, %H:%M:%S"),
                                            'id': comment.pk,
                                            'rating': comment.ratingsection.get_rating(),
                                            'type': comment.c_name(),
                                        } {% endcomment %}
                                        <div class="row">
                                            <div class="col"></div>
                                            <div class="col-auto">
                                                <select class="form-control" v-model="ingredients_vue[step_count].comment_sort">
                                                    <option value="date">Date (newest first)</option>
                                                    {% comment %} <option value="-date">Date (oldest first)</option> {% endcomment %}
                                                    <option value="rating">Rating (highest first)</option>
                                                    {% comment %} <option value="-rating">Rating (lowest first)</option> {% endcomment %}
                                                </select>
                                            </div>
                                        </div>
                                        <div v-if="step.comments" v-for="(comment, comment_index) in step.comments" class="row container border border-warning rounded ml-0 my-2 pl-0">
                                            <div v-if="user_is_authenticated" class="col-auto text-center">
                                                <form :action="`/meal/{{ meal.pk }}/rate/subcomment/${step.id}/${comment.id}/`" method="post">
                                                    <input type="hidden" name="csrfmiddlewaretoken" class="csrf_section">
                                                    <span :id="'subcomment_rating_' + comment.id" class="align-middle">
                                                        <input type="submit" name="1" value="▲" v-bind:class="[ hasRatedIngredientSubcommentUp(step_count, comment_index) ]" style="appearance:none; border:none; background:none;"><br>
                                                        <b class="text-muted">[[ comment.rating ]]</b><br>
                                                        <input type="submit" name="-1" value="▼" v-bind:class="[ hasRatedIngredientSubcommentDown(step_count, comment_index) ]" style="appearance:none; border:none; background:none;">
                                                    </span>
                                                </form>
                                            </div>
                                            <div class="col">
                                                <div class="row border-bottom font-weight-bold justify-content-between">
                                                    <div>[[ comment.username ]]</div>
                                                    <div>[[ comment.date ]]</div>
                                                </div>
                                                <div class="row my-1">
                                                    [[ comment.content ]]
                                                </div>
                                                <div v-if="user_id == comment.user_id" class="row border-top text-muted justify-content-around">
                                                    <div><a :href="`/account/edit_comment/${comment.type}/${comment.id}/`" class="text-reset">Edit Comment</a></div>
                                                    <div><a :href="`/account/delete_comment/${comment.type}/${comment.id}/`" class="text-reset">Delete Comment</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                {% endif %}

                {% if instructions %}
                    <div class="container border border-info rounded mb-3">
                        <h4>Instructions</h4>
                        <ul>
                            <div v-for="(step, step_count) in instructions_sorted">
                                <li>
                                    <button type="button" class="btn btn-info w-100 text-left my-1 collapsible">
                                        <div class="row">
                                            <div class="col">[[ step.content ]]</div>
                                            <div v-if="+step.comment_count > 0" class="col-auto text-warning align-self-center h-100 px-1 py-0 mr-2" style="background:rgb(100,100,100); border-radius:4pt;">[[ step.comment_count ]] Comments</div>
                                        </div>
                                    </button>
                                    <div :id="'step_' + step.id" class="content text-right" style="display: none;">
                                        <form v-if="user_is_authenticated" :action="`/meal/{{ meal.pk }}/subcomment/${step.id}/`" method="post">
                                            <input type="hidden" name="csrfmiddlewaretoken" class="csrf_section">
                                            <div class="form-group justify-content-end">
                                                <div class="row">
                                                    <div class="container mt-1">
                                                        {{ form.content }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="container justify-content-end text-right">
                                                        <button type="submit" value="" class="form-control btn btn-primary col-auto">
                                                            Comment
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        {% comment %} {
                                            'username': comment.user.username,
                                            'user_id': comment.user.pk,
                                            'content': comment.content,
                                            'date': comment.date.strftime("%d/%m/%Y, %H:%M:%S"),
                                            'id': comment.pk,
                                            'rating': comment.ratingsection.get_rating(),
                                            'type': comment.c_name(),
                                        } {% endcomment %}
                                        <div class="row">
                                            <div class="col"></div>
                                            <div class="col-auto">
                                                <select class="form-control" v-model="instructions_vue[step_count].comment_sort">
                                                    <option value="date">Date (newest first)</option>
                                                    {% comment %} <option value="-date">Date (oldest first)</option> {% endcomment %}
                                                    <option value="rating">Rating (highest first)</option>
                                                    {% comment %} <option value="-rating">Rating (lowest first)</option> {% endcomment %}
                                                </select>
                                            </div>
                                        </div>
                                        <div v-if="step.comments" v-for="(comment, comment_index) in step.comments" class="row container border border-warning rounded ml-0 my-2 pl-0">
                                            <div v-if="user_is_authenticated" class="col-auto text-center">
                                                <form :action="`/meal/{{ meal.pk }}/rate/subcomment/${step.id}/${comment.id}/`" method="post">
                                                    <input type="hidden" name="csrfmiddlewaretoken" class="csrf_section">
                                                    <span :id="'subcomment_rating_' + comment.id" class="align-middle">
                                                        <input type="submit" name="1" value="▲" v-bind:class="[ hasRatedInstructionSubcommentUp(step_count, comment_index) ]" style="appearance:none; border:none; background:none;"><br>
                                                        <b class="text-muted">[[ comment.rating ]]</b><br>
                                                        <input type="submit" name="-1" value="▼" v-bind:class="[ hasRatedInstructionSubcommentDown(step_count, comment_index) ]" style="appearance:none; border:none; background:none;">
                                                    </span>
                                                </form>
                                            </div>
                                            <div class="col">
                                                <div class="row border-bottom font-weight-bold justify-content-between">
                                                    <div>[[ comment.username ]]</div>
                                                    <div>[[ comment.date ]]</div>
                                                </div>
                                                <div class="row my-1">
                                                    [[ comment.content ]]
                                                </div>
                                                <div v-if="user_id == comment.user_id" class="row border-top text-muted justify-content-around">
                                                    <div><a :href="`/account/edit_comment/${comment.type}/${comment.id}/`" class="text-reset">Edit Comment</a></div>
                                                    <div><a :href="`/account/delete_comment/${comment.type}/${comment.id}/`" class="text-reset">Delete Comment</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                {% endif %}

                {% if user.is_authenticated %}
                    <form action="/meal/{{ meal.pk }}/comment/" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" class="csrf_section">
                        <div class="form-group justify-content-end">
                            <div class="row form-group">
                                <div class="container mt-3">
                                    {{ form.content }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="container justify-content-end text-right">
                                    <input type="submit" value="Comment" class="form-control btn btn-primary col-auto">
                                </div>
                            </div>
                        </div>
                    </form>
                {% endif %}

                {% comment %}
                comment_objects.append({
                    'meal_id': c.meal.pk,
                    'user_id': c.user.pk,
                    'username': c.user.username,
                    'comment_id': c.pk,
                    'comment_type': c.c_name(),
                    'date': c.date,
                    'datestring': c.date.strftime("%d/%m/%Y, %H:%M:%S"),
                    'content': c.content,
                    'rating': c.ratingsection.get_rating(),
                }) {% endcomment %}
                {% if comments %}
                <br>
                <div id="meal_comments_section">
                    <div class="row">
                        <div class="container mb-5">
                            <div class="form-group justify-content-end align-items-center">
                                <div class="row">
                                <h4 id="comment_section" class="col">Comments</h4>
                                    <div class="col-auto">
                                        <select id="meal-comments-sort-option" class="form-control" v-model="comment_sort">
                                            <option value="date">Date (newest first)</option>
                                            {% comment %} <option value="-date">Date (oldest first)</option> {% endcomment %}
                                            <option value="rating">Rating (highest first)</option>
                                            {% comment %} <option value="-rating">Rating (lowest first)</option> {% endcomment %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div v-for="(comment, comment_index) in sortedComments" :id="'comment_' + comment.comment_id" class="row container border border-warning rounded my-2 ml-0 {% if user.is_authenticated %}pl-0{% endif %}">
                                {% if user.is_authenticated %}
                                    <div class="col-auto text-center">
                                        <form :action="`/meal/{{ meal.pk }}/rate/comment/${comment.comment_id}/`" method="post">
                                        <input type="hidden" name="csrfmiddlewaretoken" class="csrf_section">
                                            <span :id="'comment_rating_' + comment.comment_id" class="align-middle">
                                                <input type="submit" name="1" value="▲" v-bind:class="[ hasRatedUp(comment.comment_id) ]" style="appearance:none; border:none; background:none;"><br>
                                                <b class="text-muted">[[ comment.rating ]]</b><br>
                                                <input type="submit" name="-1" value="▼" v-bind:class="[ hasRatedDown(comment.comment_id) ]" style="appearance:none; border:none; background:none;">
                                            </span>
                                        </form>
                                    </div>
                                {% endif %}
                                <div class="col my-2 px-4">
                                    <div class="row border-bottom font-weight-bold justify-content-between">
                                        <div>[[ comment.username ]]</div>
                                        <div>[[ comment.datestring ]]</div>
                                    </div>
                                    <div class="row my-1">
                                        [[ comment.content ]]
                                    </div>
                                    <div v-if="comment.user_id === user_id" class="row border-top text-muted justify-content-around">
                                        <div><a :href="`/account/edit_comment/${comment.comment_type}/${comment.comment_id}/`" class="text-reset">Edit Comment</a></div>
                                        <div><a :href="`/account/delete_comment/${comment.comment_type}/${comment.comment_id}/`" class="text-reset">Delete Comment</a></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
            {% if user.is_authenticated %}
                <div class="col-3 border border-success rounded mb-5">
                    <h3 class="text-center"><u>Shopping List</u></h3>
                </div>
            {% endif %}
        </div>
    </div>

    {% comment %} Pass Django vars to page scripts {% endcomment %}
    <script type="text/javascript">
        // Declare Django variables for page script
        let csrf_string;
        try {
            csrf_string = document.getElementsByName('csrfmiddlewaretoken')[0].getAttribute('value');
        } catch {}
        const user_is_authenticated = '{{ user.is_authenticated }}' === 'True';
        const step_id = '{{ step_id }}';
        const overall_user_rated = '{{ overall_user_rated }}' === 'True';
        const overall_rating = '{{ overall_rating }}';
        const rated_comments = {{ rated_comments }};
        const rated_subcomments = {{ rated_subcomments }};
        const comments_sort = '{{ comments_sort }}';
        const comments = {{ json_data|safe }};
        const scroll_to = '{{ scroll_to }}';
        const user_id = {{ user_id }};
        const is_fave = '{{ is_fave|safe }}' === 'True';
        const ingredients_vue = {{ ingredients_vue|safe }};
        const instructions_vue = {{ instructions_vue|safe }};
    </script>
    {% comment %} Page scripts {% endcomment %}
    <script src="{% static 'meal_pages/script.js' %}"></script>
{% endblock content %}
