{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% comment %} import bootstrap CSS {% endcomment %}
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />

        {% comment %} import my minimal custom CSS {% endcomment %}
        <link rel="stylesheet" href="{% static 'index.css' %}">

        {% comment %} if a template adds a block in the same way as this,
        it will populate the page head {% endcomment %}
        {% block head %}{% endblock head %}

        <title>Meal Master - {{page_title}}</title>
    </head>
    <body>
        {% comment %} import Vue {% endcomment %}
        <script src="{% static 'vue.js' %}"></script>

        {% comment %} store my global JS functions {% endcomment %}
        <script type="text/javascript">
            const myFunctions = {
                // my merge sort function
                sort: function (arr, sort, descending) {
                    let r = arr.length;
                    if (r <= 1) {
                        return arr;
                    } else {
                        let m = r / 2;
                        let a1 = this.sort(arr.slice(0, Math.ceil(m)), sort, descending);
                        let a2 = this.sort(arr.slice(Math.ceil(m)), sort, descending);
                        let out = merge(a1, a2);
                        return out;
                    }

                    function merge(a, b) {
                        let out = [];
                        while (a.length > 0 && b.length > 0) {
                            if ((descending && a[0][sort] > b[0][sort]) || (!descending && a[0][sort] < b[0][sort])) {
                                out.push(a[0]);
                                a.shift();
                            } else {
                                out.push(b[0]);
                                b.shift();
                            }
                        }
                        [a, b].forEach(x => {
                            x.forEach(y => {
                                out.push(y);
                            })
                        });
                        return out;
                    }
                }
            }
        </script>

        {% comment %} add the navbar to top of page {% endcomment %}
        {% include "partials/_navbar.html" %}

        {% comment %} add the page content {% endcomment %}
        {% block content %}{% endblock content %}

        {% comment %} add footer to bottom of page {% endcomment %}
        {% include "partials/_footer.html" %}
    </body>
</html>
