html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 120px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content; /* Set the fixed height of the footer here */
}