{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>About</h2>
    <p>This is my year 2 computer science project, a meal planner site made using Django.</p>

    <p>My initial intention for the site was very similar to its final outcome, though the site is a demonstration of coding capabilities and not design consideration, so that's not necessarily bad.</p>

    <p>I've found that the Django system is extremely easy to work with, as is Bootstrap CSS. I'm very happy with the choices I made to use both systems very early on.</p>
</div>
{% endblock content %}