{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Home</h1>
    <div class="container text-center">
        <a href="{% url 'search:search_page' %}" class="btn btn-primary">Search Page</a>
    </div>
{% endblock content %}