{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <h1 class="text-center">Welcome back, {{username}}!</h1>
            <br>
            <div class="text-center justify-content-center p">
                <a href="{% url 'welcome:home' %}" class="btn btn-primary">Continue</a>
                <br><br>
                <a href="{% url 'accounts:logout' %}" class="btn btn-secondary">Logout</a>
            </div>
        </div>
    {% else %}
        <div class="container">
            <h1 class="text-center">Welcome!</h1>
            <div class="text-center justify-content-center p">
                <a href="{% url 'accounts:login' %}" class="btn btn-primary">Login</a>
                <br><br>
                <a href="{% url 'welcome:home' %}" class="btn btn-secondary">Stay Logged-out</a>
            </div>
        </div>
    {% endif %}
{% endblock content %}